<div class = "likelihood">
    {{#if block.data.details.likelihood}}
    <i class = "fa fa-percent #ADADAD"></i><span class="counts"> Likelihood Score: </span>
    <b>{{block.data.details.likelihood}}</b>
    {{/if}}
</div>


<div class = "orgs">
    {{#if block.data.details.organizations}}
    <i class = "fa fa-info-circle #ADADAD"></i><span class="counts"> Organizations: </span>
    {{/if}}
</div>


    <div class = "organization">
        {{#if block.data.details.organization}}
        <span class="type"> Organization: </span>
        <b>{{block.data.details.organization}}</b>
        {{/if}}
    </div>

    <div class = "title">
        {{#if block.data.details.title}}
        <span class="counts"> Job Title: </span>
        <b>{{block.data.details.title}}</b>
        {{/if}}
    </div>

<div class = "location">
<i class = "fa fa-info-circle #ADADAD"></i><span class="counts"> Demographics: </span>
</div>

<div class = "locations">
{{#if block.data.details.location}}
<span class="counts"> Location: </span>
<b>{{block.data.details.location}}</b>
{{/if}}
</div>

<div class = "gender">
{{#if block.data.details.gender}}
<span class="counts"> Gender: </span>
<b>{{block.data.details.gender}}</b>
{{/if}}
</div>

<div class = "socials">
<i class = "fa fa-info-circle #ADADAD"></i><span class="counts"> Social Media Profiles: </span>
</div>

    <div class = "typeName">
        {{#if block.data.details.linkedin}}
        <span class="linkedin"> <b> LinkedIn: </b> </span> <a href="{{block.data.details.linkedin}}">  (View in LinkedIn) </a>
        {{/if}}
    </div>

    <div class = "followers">
        {{#if block.data.details.facebook}}

      <span class="facebook">   <b> Facebook: </b> </span> <a href="{{block.data.details.facebook}}">  (View in Facebook) </a>
        {{/if}}
    </div>

    <div class = "following">
      {{#if block.data.details.twitter}}

      <span class="twitter">  <b> Twitter: </b> </span> <a href="{{block.data.details.twitter}}">  (View in Twitter) </a>
        {{/if}}
    </div>
